/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


@font-face{ 
	font-family: 'MyWebFont';
	src: url('WebFont.eot');
	src: url('WebFont.eot?#iefix') format('embedded-opentype'),
	     url('WebFont.woff') format('woff'),
	     url('WebFont.ttf') format('truetype'),
	     url('WebFont.svg#webfont') format('svg');
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	background-color: #FBD14F;
}
header {
	background-color: #FEF6DF;
	opacity: 70%;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	padding: 0;
	z-index: 1001;
	height: 55px;
	width: auto;

}


header nav {
	float: right;
	overflow: hidden;
	width: auto;
	margin-right: 250px;

}

a {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 12px;
}
a:hover {
	color: #D98D00;
	font-weight: 400;
}
#header {
	font-family: 'Roboto', sans-serif;
	font-style: thin;
	text-align: center;
	color: #FEF6DF;
	opacity: 70%;
	font-size: 40px;
	margin-top: 100px;
}
header nav a {
	text-decoration: none;
	color: #666666;
	display: inline-block;
	padding: 0 0.8em;
	float: left;
	margin-top: 25px;
	

}
nav li {
	display: inline-block;
}
nav ul {
	float: right;
}
p {
	font-size: 24px;
	text-align: center;
	color: #ffffff;
	font-family: Verdana;

}
.window {
	position: absolute;
	width: 100%;
	height: 100%;
}
.window:first-child {
	top: 0;

}
.window:nth-child(2) {
	top:100%;
	background-color: #DBF3CF;
}
.window:nth-child(3) {
	top: 200%;
}
.window:nth-child(4) {
	top: 300%;
	background-color: #F8DEC7;
}
.window:nth-child(5) {
	top: 400%;
	background-color: #B6E8E9;
}
.window:nth-child(6) {
	top: 500%;
	background-color: #FCD0C7;
}
#firstheading {
	margin-top: 50px;
	clear: both;
	position: relative;
}
.headings {
	text-align: center;
	margin: auto;
}
#illustration {
	text-align: center;
	margin: auto;
	/*position: absolute;*/
	top: 15%;
  

}
#illustrationpagetwo {
	text-align: center;
	margin: auto;
	position: relative;
	width: 100%;
	display: flex;
	

}
#illustrationpagetwo img {
	
	top: 8px;
	width: 841.89px;
	position: absolute;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	
	left: 50%;
	transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0); /* Safari and Chrome */
	-moz-transform: translate(-50%, 0); /* Firefox */
	-ms-transform: translate(-50%, 0); /* IE 9 */
	-o-transform: translate(-50%, 0); /* Opera */

}

#two, #three, #four, #five, #six, #seven, #eight, #nine, #ten, #eleven, #twelve, #thirteen, #fourteen, #fifthteen {
	display: none;
}

#illustration img {
	margin-right: auto;
	margin-left: auto;
	float: center;
}
.text {
	float: right;
	width: 25%;
	position: absolute;
	top: 63%;
    margin-right: 20px;
	display: block;
	padding-left: 2%;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

h3 {
	font-size: 16pt;
	text-align: left;
	color: #D98D00;

}

article {
	font-size: 11pt;
	text-align: left;
	line-height: 15pt;
	padding-right: 10px;
	padding-top: 10px;
	
}
h1 {
	font-family: Asap, sans-serif;
	font-weight: bold;
	font-size: 24pt;
	margin-top: 70px;
}

#secondheading h1 {
	margin-top: 70px;
}
#bee img {
	-webkit-animation-name: spin; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 12s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
    -webkit-animation-timing-function: linear; /* Chrome, Safari, Opera */
    -moz-animation-name: spin;
	-moz-animation-duration: 12s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
	animation-name: spin;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
	@-webkit-keyframes spin {
	    0%   {-webkit-transform: rotate(0deg);}
	    20%  {-webkit-transform: rotate(-30deg);}
	    40%  {-webkit-transform: rotate(-60deg);}
	    60%  {-webkit-transform: rotate(-25deg);}
	    80%  {-webkit-transform: rotate(30deg);}
	    90%  {-webkit-transform: rotate(40deg);}
	    100% {-webkit-transform: rotate(10deg);}

}
	@-moz-keyframes spin { 
		0%   {-moz-transform: rotate(0deg);}
		20%  {-moz-transform: rotate(-30deg);}
		40%  {-moz-transform: rotate(-60deg);}
		60%  {-moz-transform: rotate(-25deg);}
		80%  {-moz-transform: rotate(30deg);}
		90%  {-moz-transform: rotate(40deg);}
		100% {-moz-transform: rotate(10deg);}
}
	

	@keyframes spin {
	    0%   { -webkit-transform: rotate(0deg); transform:rotate(0deg); } 
	    20%  { -webkit-transform: rotate(-30deg); transform:rotate(-30deg); } 
	    40%  { -webkit-transform: rotate(-60deg); transform:rotate(-60deg); } 
	    60%  { -webkit-transform: rotate(-25deg); transform:rotate(-25deg); } 
	    80%  { -webkit-transform: rotate(30deg); transform:rotate(30deg); }
	    90%  { -webkit-transform: rotate(40deg); transform:rotate(40deg);} 
	    100% { -webkit-transform: rotate(10deg); transform:rotate(10deg); } 
}

#bee {
	position: absolute;
	bottom: 220px;
	float: center;
	margin-left: 250px;
	-ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Safari */
    transform: rotate(20deg);
    -webkit-transition: rotate(20deg) 3s;
    transition-rotate: (20deg) 3s;
	-webkit-animation-name: beeflight; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 12s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
    -webkit-animation-timing-function: ease-in-out; /* Chrome, Safari, Opera */
    -moz-animation-name: beeflight;
	-moz-animation-duration: 12s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: ease-in-out;
	animation-name: beeflight;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    
}
	@-webkit-keyframes beeflight {
	    0%   {left:350px; top:220px;}
	    20%  {left:430px; top:310px;}
	    40%  {left:30px; top:240px;}
	    60%  {left:70px; top:410px;}
	    80%  {left:90px; top:570px;}
	    100% {left:350px; top:220px;}

}
	@-moz-keyframes beeflight { 
		0%   {left:350px; top:220px;}
	    20%  {left:430px; top:310px;}
	    40%  {left:30px; top:240px;}
	    60%  {left:70px; top:410px;}
	    80%  {left:90px; top:570px;}
	    100% {left:350px; top:220px;}
}
	


	@keyframes beeflight {
	    0%   {left:350px; top:220px;} 
	    20%  {left:430px; top:310px;} 
	    40%  {left:30px; top:240px;} 
	    60%  {left:70px; top:410px;} 
	    80%  {left:90px; top:570px;} 
	    100% {left:350px; top:220px;} 
}
#ladybug img {
	-webkit-animation-name: turn; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 25s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
    -webkit-animation-timing-function: linear; /* Chrome, Safari, Opera */
    -moz-animation-name: turn;
	-moz-animation-duration: 25s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
	animation-name: turn;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
	@-webkit-keyframes turn {
	    0%   {-webkit-transform: rotate(0deg);}
	    20%  {-webkit-transform: rotate(-30deg);}
	    40%  {-webkit-transform: rotate(-60deg);}
	    60%  {-webkit-transform: rotate(-135deg);}
	    80%  {-webkit-transform: rotate(-195deg);}
	    90%  {-webkit-transform: rotate(-275deg);}
	    100% {-webkit-transform: rotate(-360deg);}

}
	@-moz-keyframes turn { 
		0%   {-moz-transform: rotate(0deg);}
		20%  {-moz-transform: rotate(-30deg);}
		40%  {-moz-transform: rotate(-60deg);}
		60%  {-moz-transform: rotate(-135deg);}
		80%  {-moz-transform: rotate(-195deg);}
		90%  {-moz-transform: rotate(-275deg);}
		100% {-moz-transform: rotate(-360deg);}
}
	

	@keyframes turn {
	    0%   { -webkit-transform: rotate(0deg); transform:rotate(0deg); } 
	    20%  { -webkit-transform: rotate(-30deg); transform:rotate(-30deg); } 
	    40%  { -webkit-transform: rotate(-60deg); transform:rotate(-60deg); } 
	    60%  { -webkit-transform: rotate(-135deg); transform:rotate(-135deg); } 
	    80%  { -webkit-transform: rotate(-195deg); transform:rotate(-195deg); }
	    90%  { -webkit-transform: rotate(-275deg); transform:rotate(-275deg);} 
	    100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } 
}

#ladybug {
	position: absolute;
	top: 280px;
	float: right;
	left: 825px;
	
    -webkit-transform: rotate(45deg); /* Safari */
    transform: rotate(45deg);
    -webkit-transition: rotate(45deg) 3s;
    
	-webkit-animation-name: crawl; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 25s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
    -webkit-animation-timing-function: linear; /* Chrome, Safari, Opera */
    -moz-animation-name: crawl;
	-moz-animation-duration: 25s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
	animation-name: crawl;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
}
	@-webkit-keyframes crawl {
	    0%   {left:825px; top:295px;}
	    20%  {left:870px; top:260px;}
	    40%  {left:880px; top:220px;}
	    60%  {left:830px; top:200px;}
	    80%  {left:790px; top:230px;}
	    90%  {left:785px; top:260px;}
	    100% {left:825px; top:295px;}

}
	@-moz-keyframes crawl { 
		0%   {left:825px; top:295px;}
	    20%  {left:870px; top:260px;}
	    40%  {left:880px; top:220px;}
	    60%  {left:830px; top:200px;}
	    80%  {left:790px; top:230px;}
	    90%  {left:785px; top:260px;}
	    100% {left:825px; top:295px;}
}
	


	@keyframes crawl {
	    0%   {left:825px; top:295px;} 
	    20%  {left:870px; top:260px;} 
	    40%  {left:880px; top:220px;} 
	    60%  {left:830px; top:200px;} 
	    80%  {left:790px; top:230px;}
	    90%  {left:785px; top:260px;} 
	    100% {left:825px; top:295px;} 
}



@for $i from 1 through 6{
    .window:nth-child(#{$i}){
        background:nth($colors, $i);
        top:($i - 1) * 100%;
    }
}