/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


@font-face{ 
	font-family: 'MyWebFont';
	src: url('WebFont.eot');
	src: url('WebFont.eot?#iefix') format('embedded-opentype'),
	     url('WebFont.woff') format('woff'),
	     url('WebFont.ttf') format('truetype'),
	     url('WebFont.svg#webfont') format('svg');
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	background-color: #FBD14F;
}
header {
	background-color: #ffffff;
	opacity: 70%;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	padding: 0;
	z-index: 1001;
	height: 55px;
	width: auto;

}


header nav {
	float: right;
	overflow: hidden;
	width: auto;
	margin-right: 250px;

}

a {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 12px;
}
a:hover {
	color: #D98D00;
	font-weight: 400;
}
#header {
	font-family: 'Roboto', sans-serif;
	font-style: thin;
	text-align: center;
	color: #FEF6DF;
	opacity: 70%;
	font-size: 40px;
	margin-top: 100px;
}
header nav a {
	text-decoration: none;
	color: #666666;
	display: inline-block;
	padding: 0 0.8em;
	float: left;
	margin-top: 25px;
	

}
nav li {
	display: inline-block;
}
nav ul {
	float: right;
}
p {
	font-size: 24px;
	text-align: center;
	color: #ffffff;
	font-family: Verdana;

}
.window {
	position: absolute;
	width: 100%;
	height: 100%;
}
.window:first-child {
	top: 0;

}
.window:nth-child(2) {
	top:100%;
	background-color: #DBF3CF;
}
.window:nth-child(3) {
	top: 200%;
}
.window:nth-child(4) {
	top: 300%;
	background-color: #F8DEC7;
}
.window:nth-child(5) {
	top: 400%;
	background-color: #B6E8E9;
}
.window:nth-child(6) {
	top: 500%;
	background-color: #FCD0C7;
}
#firstheading {
	margin-top: 50px;
	clear: both;
	position: relative;
}
.headings {
	text-align: center;
	margin: auto;
}
#illustration {
	text-align: center;
	margin: auto;
	/*position: absolute;*/
	top: 15%;
  	/*left: 50%;*/
  	
  	/*transform: translate (-50%, -50%);*/
  	/*transform: translateY(-50%);*/

}
#secondillustration {
	text-align: center;
	margin: auto;
	/*position: absolute;*/
	top: 55%;
}
#secondillustration img {
	padding-top: 60px;
}
#illustration img {
	margin-right: auto;
	margin-left: auto;
	float: center;
}
#bee {
	position: absolute;
	bottom: 220px;
	float: center;
	margin-left: 250px;
	-ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Safari */
    transform: rotate(20deg);
    -webkit-transition: rotate(20deg) 3s;
    transition-rotate: (20deg) 3s;
	/*position: fixed;*/
	-webkit-animation-name: spin; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 12s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
    -webkit-animation-timing-function: ease-in-out; /* Chrome, Safari, Opera */
    /*-moz-animation-name: beeflight;
	-moz-animation-duration: 12s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: ease-in-out;*/
	animation-name: spin;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    
}
	@-webkit-keyframes spin {
	    0%   {left:350px; top:220px; {-webkit-transform: rotate(0deg);}}
	    20%  {left:430px; top:300px; {-webkit-transform: rotate(-30deg);}}
	    40%  {left:30px; top:240px;  {-webkit-transform: rotate(45deg);}}
	    60%  {left:70px; top:410px; {-webkit-transform: rotate(-60deg);}}
	    80%  {left:90px; top:570px; {-webkit-transform: rotate(30deg);}}
	    100% {left:350px; top:220px; { -webkit-transform: rotate(360deg);}}

}
	/*@-moz-keyframes beeflight { 
		0%   {-moz-transform: rotate(0deg);}}
		20%  {-moz-transform: rotate(-30deg);}}
		40%  {-moz-transform: rotate(45deg);}}
		60%  {-moz-transform: rotate(-60deg);}}
		80%  {-moz-transform: rotate(30deg);}}
		100% { -moz-transform: rotate(360deg); }}
	}*/

/* Standard syntax */
	@keyframes spin {
	    0%   {left:350px; top:220px;} { -webkit-transform: rotate(0deg); transform:rotate(0deg); } }
	    20%  {left:430px; top:300px;} { -webkit-transform: rotate(-30deg); transform:rotate(-30deg); } }
	    40%  {left:30px; top:240px;} { -webkit-transform: rotate(45deg); transform:rotate(45deg); } }
	    60%  {left:70px; top:410px;} { -webkit-transform: rotate(-60deg); transform:rotate(-60deg); } }
	    80%  {left:90px; top:570px;} { -webkit-transform: rotate(30deg); transform:rotate(30deg); } }
	    100% {left:350px; top:220px; { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
}
.text {
	float: right;
	width: 100%;
	position: absolute;
	bottom: 250px;

	/*padding-left: 50%;*/
	/*right: 32%;*/
}

article {
	width: 330px;
	font-family: Roboto, sans-serif;
	font-weight: 400;
	font-size: 12pt;
	text-align: left;
	float: right;
	
}
h1 {
	font-family: Asap, sans-serif;
	font-weight: bold;
	font-size: 24pt;
	margin-top: 70px;
}
#secondheading h1 {
	margin-top: 70px;
}
@for $i from 1 through 6{
    .window:nth-child(#{$i}){
        background:nth($colors, $i);
        top:($i - 1) * 100%;
    }
}